

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight : 500;
	color: #222222;
}

svg {
	display: block;
}

p {
	/*margin : 0 0 0 0;*/
}

#checkbox_wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-flow: column;
	height: 500px;
}

.headers {
	font-weight: 500;
	font-size: 10pt;
}

.region_ssafrica {
	grid-column: 1;
}
.region_sasia {
	grid-column: 2;
}
.region_namerica {
	grid-column: 3;
}
.region_meast_nafrica {
	grid-column: 4;
}
.region_latin_carib {
	grid-column: 5;
}
.region_europe_casia {
	grid-column: 6;
}
.region_easia {
	grid-column: 7;
}



#tooltip_wrapper {
	position: absolute;
	left: 800px;
	/*right: 0px*/
	height: auto;
	font-size : 12pt;
	font-weight: 500;
	float: left;
	margin: 0;
}

#qualities_wrapper {
	display: inline-block;
	color: white;
	width: 300px;
	/*width: auto;*/
	float: left;
}

#inhabitants_wrapper {
	display: inline-block;

	float:left;
}


#svg_wrapper {
	display: inline-block;
	float:left;
}


.country_checkbox_wrapper {
	display: inline-block;
	width : 4pc;
	padding: 3px 3px;
}