div {
	/*background-color: None;*/
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	font-weight : 900;
	color: #222222;
}

svg {
	/*background-color: #F9F9F9;*/
	/*margin: 0 auto;*/
	display: block;
}

circle {
	/*fill: red;*/
}

#tooltip_wrapper {
	position: absolute;
	left: 800px;
	height: auto;
	color: white;
	/*background-color: red;*/
	width: 300px;
	font-size : 12pt;
	font-weight: 500;
}

#tooltip_wrapper.hidden {
	visibility: hidden;
}

#svg_wrapper {
	display: inline-block;
	float:left;
}

#checkbox_wrapper {
	display:inline-block;
	width : 30%;
}

.country_checkbox_wrapper {
	display: inline-block;
	width : 5pc;
	padding: 5px 5px;
}